///***** FOOTER *****///
.footer {
    width: 100%;
    height: 100vh;
    background: #2a2d32;
}

.footer__container {
    width: 1000px;
    margin: 0 auto;
}

// NAV
.footer__nav {
    display: flex;
    height: 65px;
    overflow: hidden;
}

.footer__logo-wrap {
    padding: 15px 0 0 30px;
    width: 33%;
    display: table;
    background: #248cec;
}

.footer__logo-elements--first {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0;
    background: #92c6f6;
}

.footer__logo-elements--second {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 0;
    background: #fff;
}

.footer__logo-elements--three {
    position: relative;
    top: 18px;
    left: -36px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #50a3f0;
}

.footer__logo-elements--four {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    top: 18px;
    left: -36px;
    background: #66aff2;
}

.footer__logo-elements--setting {
    position: relative;
    width: 36px;
    height: 36px;
    top: -21px;
    left: 18px;
    background: url('../img/footer-setting.png') center center no-repeat;
}

.footer__title,
.footer__text {
    width: 200px;
    margin: 0;
    top: -61px;
    position: relative;
    padding-left: 47px;
}

.footer__title {
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
}

.footer__text {
    line-height: 0.7rem;
    letter-spacing: 0.17rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.65;
}

// SOCIAL
.footer__social {
    width: 33%;
    height: 65px;
    background: #3d4044;
}

.footer__social-list {
    position: relative;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .fab,
    .fas {
        font-size: 16px;
        color: #fff;
        opacity: .2;
        transition: all .1s ease;
        &:hover {
            color: #248cec;
            opacity: 1;
        }
    }
}

.footer__social-item {
    padding: 10px;
}

// SEARCH
.footer__form {
    width: 34%;
    height: 40px;
}

.footer__search {
    width: 100%;
    height: 65px;
    background: #37393e;
    padding-left: 20px;
}

input {
    padding: 10px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input.search {
    width: 94%;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: middle;
    position: relative;
    top: 15px;
    background: #3f4146;
}

.search__icon {
    position: absolute;
    top: 25px;
    right: 30px;
}

.fa-search {
    color: #fff;
    transform: scale(1);
    transition: all .1s ease;
    &:active {
        transform: scale(0.95);
        transition: all .1s ease;
    }
}

// FOOTER ELEMENTS
.footer__elements {
    display: flex;
    justify-content: space-between;
}

.footer__list {
    width: 100%;
    margin-top: 46px;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
}

.footer__item:first-child {
    padding-top: 40px;
}

.footer__item-link {
    position: relative;
    color: #828385;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    line-height: 2.5rem;
    font-size: 0.875rem;
    &:hover {
        color: #248cec;
    }
    &::before {
        content: '';
        position: absolute;
        width: 200px;
        border-top: 1px solid #393c40;
    }
}

// FOOTER BOTTOM
.footer-bottom {
    max-width: 100%;
    background: #35383c;
}

.footer__bottom-container {
    max-width: 1000px;
    margin: 0 auto;
}

.contacts__address-wrap {
    display: flex;
    justify-content: space-between;
}

.address__link-list {
    padding: 0;
    display: flex;
}

.address__link-item {
    padding: 10px 30px 0 0;
}

.address__link {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 600;
    color: #5d6063;
    opacity: 1;
    vertical-align: middle;
    position: relative;
    top: -2px;
    transition: all .3s ease-in-out;
    &:hover {
        color: #248cec;
        opacity: .8;
    }
}

#footer__icon {
    cursor: pointer;
    font-size: 1.125rem;
    color: #5d6063;
    padding-right: 9px;
    opacity: 1;
    transition: all .3s ease-in-out;
    &:hover {
        color: #f4b60d;
    }
}

.copyright {
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 0.75rem;
    color: #5d6063;
    opacity: 1;
    vertical-align: middle;
    position: relative;
    top: 26px;
    transition: all .3s ease-in-out;
    &:hover {
        opacity: .6;
    }
}